{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{%static 'css/custom-settings.css'%}">
  <title id="domtitle"></title>
</head>

<body id="body">

  <nav id="nav-bar">

    <div class="nav-left">

      <h2><a onclick="fetchPage('homepage')" class="logo"><span class="logo-style">C</span> ribSpace</a></h2>

    </div>
    <div class="nav-right">

      <div class="search-box">

        <a><img src="{%static 'images/images/search.png'%}" onclick="queryListToggle()"></a>

        <input type="text" placeholder=" search for a user... " id="search-inp" oninput="showInfoToggle(this.id)">

      </div>

      <div class="nav-user-icon is_online" onclick="settingsMenuToggle()">

        <img class="profile-img">

      </div>

      <!-- ---------------Small info ----------------------------- -->

      <div class="small-info" id="info">
        <p>click the search icon when done</p>
      </div>

      <!---------------settings menu  ---------------------->

      <div id="settings-menu" class="settings-menu-original">
        <div id="dark-btn">
          <span></span>
        </div>
        <div class="settings-menu-inner">
          <div class="write-post-user-profile">
            <a><img class="profile-img"></a>
            <div>
              <p class="username"></p>
              <a onclick="fetchPage('profilepage')">see your profile</a>
            </div>
          </div>
          <hr>
          <div class="write-post-user-profile">
            <a href=""><img src="{%static 'images/images/feedback.png'%}"></a>
            <div>
              <p>Feedback</p>
              <a style="cursor: pointer;" onclick="fetchPage('feedbackpage')">Help us improve our design</a>
            </div>
          </div>
          <hr>
          <div class="settings-links">
            <img src="{%static 'images/images/help.png'%}" class="settings-icon">
            <a style="cursor: auto;" onclick="fetchPage('feedbackpage')">Help & Support</a>
          </div>
          <div class="settings-links">
            <img src="{%static 'images/images/setting.png'%}" class="settings-icon">
            <a>custom profile settings</a>
          </div>
          <div class="settings-links">
            <img src="{%static 'images/images/logout.png'%}" class="settings-icon">
            <a onclick="logoutHandler()" style="cursor: pointer;">Log Out</a>
          </div>
        </div>
      </div>
      <!-- --------------------- Query list ----------------------------- -->
      <div class="query-list" id="query-listing">
        <p>Search Results</p>
        <div class="listings-container">
          <div class="recom-list">
            <div class="recom-user-img"><a><img src="./images/member-5.png"></a></div>
            <div class="recom-user-info">
              <h5>Henry Gibbin</h5>
              <p>react developer</p>
            </div>
            <a href="/" class="follow-user">follow</a>
          </div>
          <div class="recom-list">
            <div class="recom-user-img"><a href=""><img src="./images/member-1.png"></a></div>
            <div class="recom-user-info">
              <h5>Damsel Jeremy</h5>
              <p>.NET developer</p>
            </div>
            <a href="/" class="follow-user">follow</a>
          </div>
          <div class="recom-list">
            <div class="recom-user-img"><a href=""><img src="./images/member-4.png"></a></div>
            <div class="recom-user-info">
              <h5>Albert Fart</h5>
              <p>Node developer</p>
            </div>
            <a href="/" class="follow-user">follow</a>
          </div>
        </div>
      </div>
    </div>

  </nav>
  <div class="container" id="body-container">
    <div class="left-sidebar">
      <div class="important-links">
        <a onclick="fetchPage('homepage')"><img id="home-icon"
            src="{%static 'images/images/profile-home.png'%}">Home</a>
        <a onclick="fetchPage('followerspage')"><img id="addfriends-icon"
            src="{%static 'images/images/icons8-follower-64.png'%}">Your followers</a>
      </div>

      <div class="shortcuts-links">
        <h3>Your Space: </h3>
        <a onclick="fetchPage('createpostpage')">
          <h2 id="addpost-icon">+</h2>New Post
        </a>
        <a onclick="fetchPage('userprofilepage')"><img id="account-image"
            src="{%static 'images/images/icons8-user-32.png'%}">Your Crib</a>
        <a onclick="fetchPage('notificationspage')"><img id="short-notif-icon"
            src="{%static 'images/images/profile-job.png'%}">Notifications</a>
        <a onclick="logoutHandler()"><img src="{%static 'images/images/logout.png'%}">Log Out</a>
      </div>

      <div class="about-link">
        <a onclick="fetchPage('aboutpage')"><img id="about-img" src="{%static 'images/images/profile-study.png'%}">About
          CribSpace</a>
      </div>

      <div class="footer">
        <p>CribSpace &copy; 2023 | All rights reserved</p>
      </div>

    </div>

    <div class="main-content">
      <div class="write-post-container">
        <h3 class="upl-heading"><span class="username"></span> | Account Settings</h3>
      </div>
      <div class="write-post-container">
        <h5 class="upl-heading">..update your profile image,Bio and so much more </h5>
      </div>
      <div class="upload-profile-pic">
        <div class="phase-1">
          <img class="profile-img">
          <h4 id="upl-heading">update your profile image... </h4>
          <div class="input-file-div">
            <input type="file" id="file" class="file">
            <label for="file">
              Select file
            </label>
          </div>
        </div>
        <div class="phase-2">
          <button id="upload-p-img" class="upload-p-img" onclick="uploadClickHandler()"> upload image </button>
        </div>
      </div>
      <div class="write-post-container">
        <h4 class="upl-heading">Upload Your Bio....</h4>
      </div>
      <div class="upload-profile-pic">
        <div class="bio">
          <img src="{%static 'images/images/logo4.png'%}">
          <textarea id="bio-input" name="bio"></textarea>
          <button id="submit-bio" onclick="submitClickHandler(this.id)">update bio</button>
        </div>

      </div>
      <div class="write-post-container">
        <h4 class="upl-heading">Your Details...</h4>
      </div>
      <div class="confirm-overlay-js" id="confirm-overlay">
        <div class="confirm-div-js" id="confirm-div">
          <h4>Are you sure you want to save changes</h4>
          <div class="options">
            <a id="upt-affirm" class="yes">yes</a>
            <a id="upt-unaffirm" class="no" onclick="removeUpdateOverlay()">cancel</a>
          </div>
        </div>
      </div>
      <div class="main-details-container">
        <div class="sub-details-container">
          <div class="username-div">
            <h5>Update Username</h5>
            <input type="text" maxlength="20" name="username" id="username-input" spellcheck="false">
            <button id="submit-user" onclick="submitClickHandler(this.id)">update</button>
          </div>
          <div class="username-div">
            <h5>Update Email</h5>
            <input type="email" maxlength="35" name="email" id="email-input" spellcheck="false">
            <button id="submit-email" onclick="submitClickHandler(this.id)">update</button>
          </div>
          <div class="username-div">
            <h5>Update your location</h5>
            <input type="text" maxlength="30" name="location" id="location-input" spellcheck="false">
            <button id="submit-loc" onclick="submitClickHandler(this.id)">update</button>
          </div>
          <div class="username-div">
            <h5>Update mobile-number</h5>
            <input type="number" name="telephone" id="telephone-input">
            <button id="submit-tele" onclick="submitClickHandler(this.id)">update</button>
          </div>
          <div class="username-div">
            <h5>Update work field/job</h5>
            <input type="text" maxlength="30" name="occupation" id="occupation-input" spellcheck="false">
            <button id="submit-occ" onclick="submitClickHandler(this.id)">update</button>
          </div>
          <div class="username-div">
            <h5>Update occupation category</h5>
            <select id="occ-category" name="occupation_category">
              <option value="Technology">technology</option>
              <option value="Science">science</option>
              <option value="Engineering">engineering</option>
              <option value="Entertainment">entertainment</option>
              <option value="Healthcare">healthcare</option>
              <option value="Fashion">fashion</option>
              <option value="Sports">sports</option>
              <option value="Education">education</option>
              <option value="Government">government</option>
              <option value="Finance">finance</option>
              <option value="Security">security</option>
              <option value="Business">business</option>
              <option value="Religious">religious</option>
              <option value="Journalism">journalism</option>
              <option value="Miscallenous">miscallenous</option>
            </select>
            <button id="submit-occ-cat" onclick="submitClickHandler(this.id)">update</button>
          </div>
        </div>

      </div>

    </div>
    <div class="confirm-overlay-js" id="confirm-logout-overlay">
      <div class="confirm-div-js" id="confirm-logout-div">
        <h4>Are you sure you want to logout</h4>
        <div class="options">
          <a id="log-affirm" class="yes">logout</a>
          <a id="no" class="no" onclick="removeLogoutOverlay()">cancel</a>
        </div>
      </div>
    </div>
  </div>
  <script src=" {%static 'js/custom_settings.js'%} "></script>

</body>

</html>