[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "*"
pytz = "==2023.3"
aiohttp = "*"
requests = "*"
python-memcached = "*"
asgiref = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
django-cors-headers = "*"
python-dotenv = "*"
psycopg2-binary = "*"
dj-database-url = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
dj-database-url="*"
