
.user{
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  padding: 0.5rem 0;
  margin-bottom: 1.6rem;
  border-bottom: 0.0625rem dotted var(--comment-color);
}

.profile-image{
  padding: 0.5rem;
}


.profile-image a img{
  width: 11.25rem;
  height: 11.25rem;
  /* object-fit: fill; */
  border-radius: 50%;
}

.id-info{
  margin: auto 0.0rem;
  display: inline-block;

}

.username{
  font-size: 1.375rem;
  color: var(--input-color);
  text-transform: capitalize;
  margin-bottom: 0.1875rem;
}
.id-info #work{
  font-size: 0.875rem;
  color: var(--input-color);
  margin-bottom: 0.3125rem;
}

.id-info #user-location{
  font-size: 1.0rem;
  color: var(--s-color);
}

.id-info #follow-user{
  display: inline-block;
  width: 25%;
  background: linear-gradient(23deg,var(--input-x-color),var(--header-x-color));
  color: #c4c4c4;
  padding: 0.25rem 0.375rem;
  text-align: center;
  font-size: smaller;
  margin-bottom: 0.3125rem;
  border-bottom-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
}

.id-info #follow-user:hover{
  transition: background color 1s;
  background: linear-gradient(23deg,var(--header-x-color),var(--input-x-color));
  border-bottom-right-radius: 0.1875rem;
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.id-info #follow-user:active{
  transition: transform 0.06s ease;
  transform: scale(0.96);
}


.contacts{
  margin: auto 0.0rem;
}

.contacts p{
  color: var(--p-color);
  font-size: 0.875rem;
  font-weight: bold;
}

.followers-info{
  margin: auto 0.0rem;
  padding: 0.625rem 0;
  display: grid;
  grid-template-columns: 0.8fr 1.7fr;
}

.followers-info h2{
  font-size: 1.125rem;
  color: var(--s-color);
}

.bio{
  padding: 0.625rem 0.375rem;
  display: inline-block;
  text-align: center;
  border-bottom: 0.0625rem dotted var(--comment-color);
}

.bio div{
  margin: auto;
  max-width: 18.75rem;
}

.bio p{
  font-weight: 500;
  font-size: 0.9375rem;
  color: var(--s-color);
}

.bio h3{
  font-size: 1.25rem;
  color: var(--s-color);
  text-transform: capitalize;
  margin-bottom: 0.3125rem;
}

.bio #edit-bio{
  display: inline-block;
  width: 18%;
  background: linear-gradient(23deg,var(--input-x-color),var(--header-x-color));
  color: #c4c4c4;
  padding: 0.25rem 0.375rem;
  text-align: center;
  font-size: smaller;
  margin-bottom: 0.3125rem;
  border-bottom-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  margin: 0.625rem auto
}

.bio #edit-bio:hover{
  transition: background color 1s;
  background: linear-gradient(23deg,var(--header-x-color),var(--input-x-color));
  border-bottom-right-radius: 0.1875rem;
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.bio #edit-bio:active{
  transition: transform 0.06s ease;
  transform: scale(0.96);
}


.followers{
  display: block;
  margin: 0.9375rem 0;
  border-bottom: 0.0625rem dotted var(--comment-color);
}

.followers h3{
  font-size: 1.25rem;
  color: var(--s-color);
  text-transform: capitalize;
  margin-bottom: 0.375rem;
  text-align: center;
  
}

.followers-container{
  display: grid;
  grid-template-columns: repeat(2,18.75rem);
  grid-gap: 0.135rem;
  margin: 0.9375rem 10%;
}

.followers-container .follower{
  display: grid;
  grid-template-columns: 1fr 3.4fr;
  padding: 0.625rem;
  border-radius: 0.1875rem;
  width: 90%;
  background: var(--right-sidebar-color);
  border-radius: 0.3125rem;
  margin: 0.625rem;
}

.followers-container .follower a img{
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.followers-container .follower-info{
  display: block;
}

.followers-container .follower-info h5{
  color: var(--p-color);
  font-weight: 650;
}


.followers-container .follower-info p {
  color: var(--s-color);
  font-weight: 500;
  font-size: 0.75rem;
}

.followers #see-all-followers{
  display: inline-block;
  width: 30%;
  background: linear-gradient(23deg,var(--input-x-color),var(--header-x-color));
  color: #c4c4c4;
  padding: 0.25rem 0.375rem;
  text-align: center;
  font-size: smaller;
  border-bottom-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  margin: 0.625rem 35%;
}
.followers #see-all-followers:hover{
  transition: background color 1s;
  background: linear-gradient(23deg,var(--header-x-color),var(--input-x-color));
  border-bottom-right-radius: 0.1875rem;
  border-top-left-radius: 0.1875rem;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

.followers #see-all-followers:active{
  transition: transform 0.06s ease;
  transform: scale(0.96); 
}


/*--------------------dependent classes/styling-------------------------------*/

.recom-list {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 1.25rem;
  border-bottom: 0.0625rem solid var(--hover-color);
  padding: 0.625rem;
  border-radius: 0.1875rem;

}

.recom-list .follow-user{
  display: inline-block;
  color: var(--p-color);
  background: transparent;
  border: 0.0625rem solid var(--s-color); 
  font-size: 0.75rem;
  text-align: center;
  height: 1.5625rem;
  border-radius: 0.1875rem;
}


.recom-list .follow-user:hover{
  color: var(--secondary-color);
  transition: 0.5s ease-out;
  border: 0.06rem solid var(--p-color); 
}

.recom-list .follow-user:active{
  transition: all 0.4s ease;
  transform: scale(0.95);
}

.recom-user-img a img {
  width: 2.8rem;
  border-radius: 50%;
  cursor: pointer;
}

.recom-user-img {
  margin-right: 1.0625rem;
}

.recom-user-info {
  margin-right: 1.875rem;
}

.recom-user-info h5 {
  color: var(--p-color);
  font-weight: 650;
}

.recom-user-info p {
  color: var(--s-color);
  font-weight: 500;
  font-size: 0.75rem;
}

.write-post-user-profile {
  display: flex;
  align-items: center;
}


.write-post-user-profile img {
  width: 2.8125rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.write-post-user-profile p {
  margin-bottom: -0.3125rem;
  font-size: 0.875rem;
  color: var(--p-color);
  font-weight: 500;
}


.sidebar-notif:hover,.recom-list:hover {
  background: var(--hover-color);
  transition: 0.2s ease-in-out;
}


.write-post-container{
  width: 100%;
  /* background: var(--write-post-container-color); */
  border-radius: 0.375rem;
  padding: 1.25rem;
  color: #585858;
}

.write-post-user-profile{
  display: flex;
  align-items: center;
}

.write-post-user-profile img{
  width: 2.8125rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.write-post-user-profile p{
  margin-bottom: -0.3125rem;
  font-size: 0.875rem;
  color: var(--p-color);
  font-weight: 500;
}

.write-post-user-profile small{font-size: 0.75rem; color: var(--s-color);}

.post-input-container{
  padding-left: 3.4375rem;
  padding-top: 1.25rem;
}

.post-input-container textarea{
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 0.0625rem solid var(--body-color);
  color: var(--input-color);
  background: transparent;
  resize: none;
  overflow: hidden;
}

.post-input-container textarea:focus{
  border-bottom: 0.125rem solid var(--primary-color-2);
}

.post-input-container .post-input-send{
  display: inline-block;
  width: 70%;
  background: var(--body-color);
  color: #707070;
  border-radius: 0.25rem;
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
  padding: 0.1875rem 0;
}

.post-input-container .post-input-send:hover{
  background: #616161;
  color: #adacac;
  transition: all 0.7 ease-in;
}

#add-photos-icon{
  display: inline-block;
  font-size: 0.8125rem;
  color: #4e4e4e;
  text-align: center;
  cursor: pointer;
  padding: 0.1875rem 0.25rem;
  border-bottom: 0.0625rem solid var(--body-color);
}

#add-photos-icon:hover{
  border-bottom: 0.0625rem solid #089141;
  transition: border-bottom 1s;
}

#add-photos-icon img{
  width: 1.25rem;
  margin-right: 0.625rem;
  margin-left: 0.3125rem;
  
}

.post-container{
  width: 100%;
  background: var(--write-post-container-color);
  color: #585858;
  border-radius: 0.375rem;
  padding: 1.25rem;
  margin: 1.25rem 0;
}

.post-container span{
  font-size: 0.6875rem;
  color: #9a9a9a;
}

.post-container .post-text{
  color: var(--p-color);
  margin: 1.125rem 0;
  font-size: 0.9375rem;
  font-weight: 500;
}

.post-container div p{color: var(--p-color);}

.post-container .post-img{
  width: 37.5rem;
  height: 20.0rem;
  object-fit: cover;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

/* .post-container p{color: ;} */

.activity-icons{
  display: flex;
  align-items: center;
  background-color: var(--activity-icons);
  padding: 0.1875rem;
  margin-top: 0.625rem;
}

.activity-icons .react{
  display: inline-flex;
  align-items: center;
  margin-right: 1.6875rem;
  color: var(--input-color);

}

.activity-icons img{
  width: 1.125rem;
  margin-right: 0.3125rem;
}

.activity-icons .add-comment{
  background: var(--write-post-container-color);
  width: 21.875rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0 0.9375rem;
}

.activity-icons .add-comment img{
  border-radius: 50%;
  width: 1.213rem;
  border: none;
  cursor: pointer;
}

.activity-icons .add-comment input{
  width: 100%;
  background: transparent;
  padding: 0.625rem;
  outline: none;
  border: 0;
  color: var(--input-color);

}

.activity-icons .submit-comment{
  display: inline-flex;
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.1875rem 1.0rem;
  background: var(--hover-color);
  color: #242323;
  margin-left: 1.25rem;
  font-size: 0.875rem;
}

.activity-icons .submit-comment:hover{
  color: #d6d4d4;
  background: #242323;
  transition: all 0.3s ease-in;
}

.activity-icons .submit-comment:active{
  transition: all 0.4s ease;
  transform: scale(0.96);
}

.comments-div{
  padding: 0.625rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  margin: 0.3125rem;
  display: block;
  height: 0.0rem;
  width: 0.0rem;
  transition: width visibility 0.3s ease-in-out ;
  visibility: hidden;
}

.comments-div-js{
  height: 100%;
  width: 100%;
  visibility: visible;
}

.comments{
  padding: 0.5rem;
  width: 80%;
  border-radius: 0.3125rem;
  background: var(--comment-color);
  margin-bottom: 0.625rem;
  margin-left: auto;
  margin-right: auto;
}

#comments-h4{
  text-align: center;
  margin-bottom: 0.3125rem;
}

.comments .user-comment-id{
  display: flex;
  align-items: center;
  margin-bottom: 0.3125rem;
}

.comments .user-comment-id a img{
  width: 1.6625rem;
  height: 1.6625rem;
  border-radius: 50%;
  margin-right: 0.345rem;
}

.comments .user-comment-id p{
  font-size: 0.875rem;
  font-weight: 600;
}

.comments .comment{
  font-size: 0.8125rem;
  margin-left: 0.778rem;
  color: var(--input-color);
}

#load-more-btn{
  display: block;
  font-size: 0.9375rem; 
  padding: 0.25rem 0.375rem;
  width: 60%;
  align-self: center;
  border-radius: 0.25rem;
  margin: auto;
  background: transparent;
  color: var(--p-color);
  border: 0.0625rem solid #b3b2b2;
}

#load-more-btn:hover{
  color: #494848;
  border: 0.0625rem solid #747373;
  transition: all 0.3s ease-in-out;

}

/* icons */



#message-image {
  width: 2.375rem;
  height: 2.375rem;
  background: var(--right-sidebar-color);
  border-radius: 50%;
  padding: 0.4375rem;
  margin-right: 1rem;
}


#home-icon {
  width: 2.375rem;
  height: 2.375rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.4375rem;
  margin-right: 1rem;
}

#addfriends-icon {
  width: 2.1875rem;
  height: 2.1875rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
}

#account-image {
  width: 2.0rem;
  height: 2.0rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.9rem;
}

#short-notif-icon{
  width: 2.3rem;
  height: 2.3rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 0.8rem;
}

#about-img {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
}

#addpost-icon {
  width: 2.375rem;
  height: 2.375rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.4375rem;
  margin-right: 1rem;
  text-align: center;
  align-self: center;
  color: var(--s-color);
  font-size: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --body-color: #efefef;
  --right-sidebar-color: #e2e1e1;
  --write-post-container-color: #f7f5f5;
  --activity-icons: #f3f3f3;
  --hover-color: #dad5d5;
  --p-color: #575757;
  --s-color: #4b4b4b;
  --input-color: #313131;
  --primary-color: #089141;
  --primary-color-2: #076b31;
  --secondary-color: #e41fe4;
  --secondary-color-2: #833183;
  --comment-color: #cfcece;
  --main-content: #ebebeb;
  --header-color: #707070;
  --btn-left: rgb(25, 180, 76);
  --btn-right: rgb(47, 120, 216);
  --input-x-color: #313131;
  --header-x-color:  #707070;
}

.dark-theme {
  --body-color: #3f3e3e;
  --right-sidebar-color: #292828;
  --write-post-container-color: #292828;
  --input-color: #cccccc;
  --primary-color: #03913e;
  --primary-color-2: #0c803c;
  --hover-color: #3b3b3b;
  --activity-icons: #272727;
  --p-color: #ccc;
  --s-color: #a7a7a7;
  --secondary-color-2: #df2bdf;
  --comment-color: #525252;
  --main-content: #313131;
  --header-color: #9c9c9c;
  --btn-left: rgb(32, 126, 63);
  --btn-right: rgb(45, 94, 156);
  --input-x-color: #4b4b4b;
  --header-x-color:  #353535;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


body {
  background: var(--body-color);
  transition: background 0.3s;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(48, 48, 47);
}

body::-webkit-scrollbar-thumb {
  background-color:var(--primary-color-2);
  border-radius: 20px;
  border: 1px solid rgb(45, 56, 55);
}

/* Navbar */

.logo {
  color: var(--write-post-container-color);
  width: 10rem;
  margin-right: 2rem;
}


.logo-style {
  font-size: 1.5rem;
  border: none;
  border-radius: 0.125rem;
  color: #089141;
  background-color: var(--write-post-container-color);
  padding: 0.25rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  padding: 0.3125rem 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}



.nav-user-icon {
  margin-left: 2rem;
}

.nav-user-icon img {
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.nav-user-icon img:active{
  transition: all 0.4s ease;
  transform: scale(0.900);
}

.search-box {
  background: var(--right-sidebar-color);
  width: 21.875rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0 0.9375rem;
}

.search-box img {
  width: 1.125rem;
  border: none;
  cursor: pointer;
}

.search-box img:active{
  transition: all 0.4s ease;
  transform: scale(0.655);
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 0.625rem;
  outline: none;
  border: 0;
  color: var(--input-color);
}

.search-box:focus-within {
  border: 0.0625rem solid var(--body-color);
}


/* adding small circle to show user is online */

.is_online {
  position: relative;
}

.is_online::after {
  content: '';
  width: 0.4375rem;
  height: 0.4375rem;
  border: 0.125rem solid var(--body-color);
  border-radius: 50%;
  background: var(--secondary-color);
  position: absolute;
  top: 0;
  right: 0;
}


/* small info */
.small-info {
  padding: 0;
  position: absolute;
  width: 0;
  max-width: 0;
  background: var(--body-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  overflow: hidden;
  top: 90%;
  right: 30%;
  max-height: 0;
  z-index: -2;
  transition: max-height width max-width 0.2s;
}

.small-info p {
  color: var(--input-color);
  font-size: 0.6875rem;
  text-align: center;
}

.small-info-javascripted {
  width: 13%;
  max-width: 15rem;
  max-height: 4rem;
  padding: 0.1875rem 0;
}

/* settings menu */

.settings-menu-original {
  position: absolute;
  width: 85%;
  max-width: 18.75rem;
  background: var(--body-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.2s;

}

.settings-menu-javascripted {
  max-height: 28.125rem;
}

.settings-menu-original hr {
  border: 0;
  height: 0.0625rem;
  background: var(--primary-color);
  margin: 0.9375rem 0;
}

/* Genius button creation and styling */

#dark-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 2.8125rem;
  background: var(--p-color);
  border-radius: 0.9375rem;
  padding: 0.125rem 0.1875rem;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  background: var(--right-sidebar-color);
  border-radius: 50%;
  border: 0.0625rem solid #3d3d3d;
}

#dark-btn.btn-on {
  padding-left: 1.4375rem;
  background: var(--p-color);
}

/* end of genius button creation */

.settings-menu-original .write-post-user-profile a {
  font-size: 0.75rem;
  color: var(--secondary-color-2);
}

.settings-menu-original .settings-menu-inner {
  padding: 1.25rem;
}

.settings-menu-original .settings-links {
  display: flex;
  align-items: center;
  margin: 0.9375rem 0;
  margin-left: 0.375rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.settings-menu-original .settings-links:hover {
  background: var(--hover-color);
}


.settings-menu-original .settings-links .settings-icon {
  width: 2.25rem;
  margin-right: 0.625rem;
  border-radius: 50%;
}

.settings-menu-original .settings-links a {
  display: flex;
  flex: 1;
  align-items: center;
  color: var(--p-color);
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 0.375rem 0;
  border-bottom: 0.0625rem solid #f7f7f7;

}

.settings-menu-original .settings-links a:hover {
  transition: all 0.2s ease-in;
}

/* query list */
.query-list{
  position: absolute;
  width: 0;
  max-width: 0;
  background: var(--body-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  top: 108%;
  right: 20%;
  padding: 0.625rem;
  z-index: -1;
  align-items: center;
  align-content: center;
  max-height: 0;
  transition: max-height visibility 0.3s;
  visibility: hidden;
}

.query-list-javascripted{
  max-height: 28.125rem;
  max-width: 18.75rem;
  width: 85%;
  visibility: visible;
}

.query-list p{
  text-align: center;
  font-weight: 400;
  color: var(--secondary-color);
  margin: 0.625rem 0;
}

.query-list .recom-user-info p{
  margin-left: -2rem;
}

/* Body  */

.container {
  display: flex;
  justify-content: space-between;
  padding: 0.8125rem 2%;
}

.left-sidebar {
  flex-basis: 37%;
  position: sticky;
  top: 4.375rem;
  align-self: flex-start;
}

.main-content {
  flex-basis: 61%;
  background: var(--main-content);
  height: 100%;
  overflow: hidden;
  border-radius: 0.3125rem;
  padding: 0.4375rem;

}

/* sidebar contents */

/* leftside bar */

.important-links a,
.shortcuts-links a,
.about-link a {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
  width: fit-content;
  color: var(--primary-color);
  font-weight: 500;
}

.important-links a:hover,.about-link a:hover{
  color: var(--p-color);
}


.important-links img {
  width: 1.5625rem;
  margin-right: 0.9375rem;
}

.important-links {
  border-bottom: 0.0625rem solid var(--comment-color);
  margin-bottom: 1.8rem;
}
/* shortcut links */
.shortcuts-links {
  border-bottom: 0.0625rem solid var(--comment-color);
}

.shortcuts-links h3 {
  margin: 1rem 0;
  font-weight: 600;
  color: var(--input-color);
}


.shortcuts-links img {
  width: 2.2rem;
  margin-right: 0.9375rem;
  margin-left: 0.3125rem;
}

.shortcuts-links a {
  font-size: 0.875rem;
  color: var(--primary-color-2);
  font-weight: 500;
  padding: 0.3125rem 0.625rem;
}

.shortcuts-links a:hover {
  background: var(--body-color);
  border-left: 0.225rem solid var(--primary-color);
  transition: background 2s ease-out;
}

.current {
  /* border-bottom: 0.125rem solid var(--primary-color); */
  border-left: 0.225rem solid var(--primary-color);
  border-radius: 4px;
  padding-bottom: 0.3125rem;
}
/* about div */

.about-link {
  margin-top: 1.25rem;
}

/* footer */

.footer p {
  font-size: 0.75rem;
  font-weight: 500;
  color: #979494;
  margin-left: 0.5rem;
}

.footer-links {
  display: flex;
  margin-left: 0.48rem;
  margin-bottom: 0.3rem;

}

.footer-links img {
  width: 1.25rem;
  margin-right: 1.5rem;
  background: var(--body-color);
  border-radius: 50%;
}

.footer-links img:hover {
  padding: 0.625rem;
  background: var(--input-color);
  transition: 1s ease-out;
}