/* contact section */

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5625rem;
  border-radius: 0.25rem;
}


.contact-container-left {
  padding: 0.5rem;
  display: block;
  box-shadow: 0.125rem 0.125rem 0.4375rem 0.5625rem var(--bx-shadow);
  /* box-shadow: 0.4375rem 0.5625rem 0.1875rem 0.125rem #a19f9f; */
  border-radius: 0.25rem;

}

.contact-heading {
  color: #ccc;
  background: var(--special-x);
  padding: 0.3125rem;
  border-radius: 0.1875rem;
  text-align: center;

}

.contact-info {
  color: var(--input-color);
  font-weight: 500;
  margin-top: 0.625rem;
  margin-bottom: -0.3125rem;
  text-align: center;
  font-size: 14px;
}


.contact-icons-container{
  display: grid;
  grid-template-columns: repeat(2,230px);

  margin: 30px 5%;
  border-radius: 0.4375rem;
}

.contact-icon {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: var(--contact-icon-color);
  padding: 5px;
  margin: 8px 2px;
  border-radius: 0.3125rem;
  cursor: pointer;
  width: 80%;
}

.contact-icon:active {
  transition: all 0.09s ease;
  transform: scale(0.945);
}


.contact-icon img {
  border-radius: 50%;
  width: 1.8125rem;
  height: 1.8125rem;
  margin-left: 0.5rem;
}


.contact-icon p {
  color: var(--input-color);
  font-weight: bold;
  font-size: 14px;
  margin-top: 3px;
}

.contact-container-right {
  padding: 0.5rem;
  display: block;
  /* box-shadow:0 0 0.0625rem 0.0625rem var(--bx-shadow); */
  box-shadow: 0.125rem 0.125rem 0.4375rem 0.5625rem var(--bx-shadow);
  border-radius: 0.25rem;
}

.contact-container-right textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border: 0.125rem solid var(--border-color);
  font-size: 1.0rem;
  font-weight: 500;
  background: transparent;
  color: var(--input-color);
  resize: none;
  overflow: hidden;
  padding: 0.375rem;
  display: block;
  border-radius: 0.15rem;
  margin-bottom: 1.0rem;
}

.contact-container-right textarea:focus {
  transition: all 0.4s ease;
  border: 0.125rem solid var(--primary-color);
  border-radius: 0.275rem;
}


.contact-container-right button {
  display: inline-block;
  margin: 0 4.875rem;
  width: 60%;
  padding: 0.25rem 0.375rem;
  font-size: 0.875rem;
  color: white;
  background: var(--button-color);
  border-radius: 0.125rem;
  border: 0;
  outline: none;
}

.contact-container-right button:hover {
  transition: all 0.4s ease;
  background: #373737;
}

.contact-container-right button:active {
  transition: all 0.4s ease;
  transform: scale(0.959458);
}


/* end of contact section */
.my {
  margin-bottom: 2.8125rem;
}

.grid-info {
  display: grid;
  grid-template-columns: 1.8fr 2fr;
  grid-gap: 0.3125rem;
}

.grid-info .img-info {
  height: 100%;
  /* background: #c4c3c3; */
  background: var(--right-sidebar-color);
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.grid-info .img-info .img-self img {
  height: 15.625rem;
  object-fit: cover;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.grid-info .img-info img:hover {
  transition: all 0.4s ease;
  transform: scale(1.08977);
}

.grid-info .link-btn {
  display: inline-block;
  width: 50%;
  padding: 0.1875rem 0.3125rem;
  border: 0;
  outline: none;
  border-radius: 0.1875rem;
  background: var(--special);
  color: #dad5d5;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.375rem;
  margin-left: 7.5rem;
}


.grid-info .link-btn:hover {
  transition: all 0.4s ease;
  background: #303030;
  color: #f3f3f3;
}

.grid-info .link-btn:active {
  transform: scale(0.9665);
  transition: all 0.4s ease;
}

.text-info {
  background: var(--hover-x-color);
  border-radius: 0.375rem;
  padding: 0.625rem;
}

.text-info h4 {
  color: #d2d2d2;
  background: var(--special);
  padding: 0.3125rem;
  border-radius: 0.1875rem;
  text-align: center;
  margin: 0.3125rem 0;
}

.text-info p {
  font-size: 15px;
  font-weight: 500;
  color: var(--input-color);
  line-height: 25px;
}


.list-landing-features {
  margin-left: 0.9375rem;
  font-weight: 490;

}

.list-landing-features li {
  font-size: 15px;
  font-weight: 500;
  color: var(--p-color);
}

#lists {
  margin: 0.625rem 0.5rem 0 0.9375rem;
}

#main {
  font-weight: 500;
}

#sub {
  margin: 0.3125rem 0.375rem 0 1.25rem;
  font-weight: 480;
}

/* dependent  */

.upl-heading {
  text-align: center;
}

.upl-para {
  text-align: center;
  font-weight: 500;
}



.recom-list {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-bottom: 1.25rem;
  border-bottom: 0.0625rem solid var(--hover-color);
  padding: 0.625rem;
  border-radius: 0.1875rem;

}

.recom-list .follow-user {
  display: inline-block;
  color: var(--p-color);
  background: transparent;
  border: 0.0625rem solid var(--s-color);
  font-size: 0.75rem;
  text-align: center;
  height: 1.5625rem;
  border-radius: 0.1875rem;
}


.recom-list .follow-user:hover {
  color: var(--secondary-color);
  transition: 0.5s ease-out;
  border: 0.06rem solid var(--p-color);
}

.recom-list .follow-user:active {
  transition: all 0.4s ease;
  transform: scale(0.95);
}

.recom-user-img a img {
  width: 2.8rem;
  border-radius: 50%;
  cursor: pointer;
}

.recom-user-img {
  margin-right: 1.0625rem;
}

.recom-user-info {
  margin-right: 1.875rem;
}

.recom-user-info h5 {
  color: var(--p-color);
  font-weight: 650;
}

.recom-user-info p {
  color: var(--s-color);
  font-weight: 500;
  font-size: 0.75rem;
}

/* .write-post-container{
  width: 100%;
  border-radius: 0.375rem;
  padding: 1rem;
  color: #585858;
} */

.write-post-container {
  width: 100%;
  background: var(--right-sidebar-color);
  border-radius: 0.375rem;
  padding: 1.25rem;
  color: var(--input-color);
  margin-bottom: 1.7rem;
}

.write-post-user-profile {
  display: flex;
  align-items: center;
}


.write-post-user-profile img {
  width: 2.8125rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.write-post-user-profile p {
  margin-bottom: -0.3125rem;
  font-size: 0.875rem;
  color: var(--p-color);
  font-weight: 500;
}


.sidebar-notif:hover,
.recom-list:hover {
  background: var(--hover-color);
  transition: 0.2s ease-in-out;
}


/* icons */


#message-image {
  width: 2.375rem;
  height: 2.375rem;
  background: var(--right-sidebar-color);
  border-radius: 50%;
  padding: 0.4375rem;
  margin-right: 1rem;
}


#home-icon {
  width: 2.375rem;
  height: 2.375rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.4375rem;
  margin-right: 1rem;
}

#addfriends-icon {
  width: 2.1875rem;
  height: 2.1875rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
}

#account-image {
  width: 2.0rem;
  height: 2.0rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.9rem;
}

#about-img {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 1rem;
}

#addpost-icon {
  width: 2.375rem;
  height: 2.375rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.4375rem;
  margin-right: 1rem;
  text-align: center;
  align-self: center;
  color: var(--s-color);
  font-size: 1.25rem;
}

#short-notif-icon {
  width: 2.3rem;
  height: 2.3rem;
  background: var(--write-post-container-color);
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --body-color: #efefef;
  --right-sidebar-color: #e2e1e1;
  --write-post-container-color: #f7f5f5;
  --activity-icons: #f3f3f3;
  --hover-color: #dad5d5;
  --hover-x-color: #e5e4e4;
  --p-color: #575757;
  --s-color: #4b4b4b;
  --input-color: #404040;
  --primary-color: #089141;
  --primary-color-2: #076b31;
  --secondary-color: #e41fe4;
  --secondary-color-2: #833183;
  --comment-color: #cfcece;
  --main-content: #ebebeb;
  --header-color: #707070;
  --btn-left: rgb(25, 180, 76);
  --btn-right: rgb(47, 120, 216);
  --details-div-color: #ddd;
  --special: #464141;
  --special-x: #464141;
  --contact-icon-color: #e3e2e2;
  --bx-shadow: rgba(220, 220, 220, 0.6);
  --border-color: #bdbebd;
  --button-color: rgb(93, 92, 92);
}

.dark-theme {
  --body-color: #3f3e3e;
  --right-sidebar-color: #292828;
  --write-post-container-color: #292828;
  --input-color: #cccccc;
  --primary-color: #03913e;
  --primary-color-2: #0c803c;
  --hover-color: #3b3b3b;
  --hover-x-color: #373737;
  --activity-icons: #272727;
  --p-color: #ccc;
  --s-color: #a7a7a7;
  --secondary-color-2: #df2bdf;
  --comment-color: #525252;
  --main-content: #313131;
  --header-color: #9c9c9c;
  --btn-left: rgb(32, 126, 63);
  --btn-right: rgb(45, 94, 156);
  --details-div-color: #2e2e2e;
  --special: #313131;
  --special-x: #2e2d2d;
  --contact-icon-color: #393939;
  --bx-shadow: rgba(41, 41, 41, 0.6);
  --border-color: rgb(73, 73, 73);
  --button-color: rgb(79, 77, 87);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


body {
  background: var(--body-color);
  transition: background 0.3s;
  /* max-height: 100vh; */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(48, 48, 47);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-2);
  border-radius: 20px;
  border: 1px solid rgb(45, 56, 55);
}

/* Navbar */

.logo {
  color: var(--write-post-container-color);
  width: 10rem;
  margin-right: 2rem;
}


.logo-style {
  font-size: 1.5rem;
  border: none;
  border-radius: 0.125rem;
  color: #089141;
  background-color: var(--write-post-container-color);
  padding: 0.25rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  padding: 0.3125rem 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-user-icon {
  margin-left: 2rem;
}

.nav-user-icon img {
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.nav-user-icon img:active {
  transition: all 0.4s ease;
  transform: scale(0.900);
}

.search-box {
  background: var(--right-sidebar-color);
  width: 21.875rem;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0 0.9375rem;
}

.search-box img {
  width: 1.125rem;
  border: none;
  cursor: pointer;
}

.search-box img:active {
  transition: all 0.4s ease;
  transform: scale(0.655);
}


.search-box input {
  width: 100%;
  background: transparent;
  padding: 0.625rem;
  outline: none;
  border: 0;
  color: var(--input-color);
}

.search-box:focus-within {
  border: 0.0625rem solid var(--body-color);
}


/* adding small circle to show user is online */

.is_online {
  position: relative;
}

.is_online::after {
  content: '';
  width: 0.4375rem;
  height: 0.4375rem;
  border: 0.125rem solid var(--body-color);
  border-radius: 50%;
  background: var(--secondary-color);
  position: absolute;
  top: 0;
  right: 0;
}


/* small info */
.small-info {
  padding: 0;
  position: absolute;
  width: 0;
  max-width: 0;
  background: var(--body-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  overflow: hidden;
  top: 90%;
  right: 30%;
  max-height: 0;
  z-index: -2;
  transition: max-height width max-width 0.2s;
}

.small-info p {
  color: var(--input-color);
  font-size: 0.6875rem;
  text-align: center;
}

.small-info-javascripted {
  width: 13%;
  max-width: 15rem;
  max-height: 4rem;
  padding: 0.1875rem 0;
}

/* settings menu */

.settings-menu-original {
  position: absolute;
  width: 85%;
  max-width: 18.75rem;
  background: var(--body-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.2s;

}

.settings-menu-javascripted {
  max-height: 28.125rem;
}

.settings-menu-original hr {
  border: 0;
  height: 0.0625rem;
  background: var(--primary-color);
  margin: 0.9375rem 0;
}

/* Genius button creation and styling */

#dark-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 2.8125rem;
  background: var(--p-color);
  border-radius: 0.9375rem;
  padding: 0.125rem 0.1875rem;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}

#dark-btn span {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  background: var(--right-sidebar-color);
  border-radius: 50%;
  border: 0.0625rem solid #3d3d3d;
}

#dark-btn.btn-on {
  padding-left: 1.4375rem;
  background: var(--p-color);
}

/* end of genius button creation */

.settings-menu-original .write-post-user-profile a {
  font-size: 0.75rem;
  color: var(--secondary-color-2);
}

.settings-menu-original .settings-menu-inner {
  padding: 1.25rem;
}

.settings-menu-original .settings-links {
  display: flex;
  align-items: center;
  margin: 0.9375rem 0;
  margin-left: 0.375rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.settings-menu-original .settings-links:hover {
  background: var(--hover-color);
}


.settings-menu-original .settings-links .settings-icon {
  width: 2.25rem;
  margin-right: 0.625rem;
  border-radius: 50%;
}

.settings-menu-original .settings-links a {
  display: flex;
  flex: 1;
  align-items: center;
  color: var(--p-color);
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 0.375rem 0;
  border-bottom: 0.0625rem solid #f7f7f7;

}

.settings-menu-original .settings-links a:hover {
  transition: all 0.2s ease-in;
}

/* query list */
.query-list {
  position: absolute;
  width: 0;
  max-width: 0;
  background: var(--body-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  top: 108%;
  right: 20%;
  padding: 0.625rem;
  z-index: -1;
  align-items: center;
  align-content: center;
  max-height: 0;
  transition: max-height visibility 0.3s;
  visibility: hidden;
}

.query-list-javascripted {
  max-height: 28.125rem;
  max-width: 18.75rem;
  width: 85%;
  visibility: visible;
}

.query-list p {
  text-align: center;
  font-weight: 400;
  color: var(--secondary-color);
  margin: 0.625rem 0;
}

.query-list .recom-user-info p {
  margin-left: -2rem;
}

/* Body  */

.green {
  color: var(--btn-left);
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1.25rem 2%;
  grid-gap: 1rem;
}

.left-sidebar {
  flex-basis: 37%;
  position: sticky;
  top: 4.375rem;
  align-self: flex-start;
}

.main-content {
  flex-basis: 61%;
  background: var(--main-content);
  height: 100%;
  overflow: hidden;
  border-radius: 0.3125rem;
  padding: 0.4375rem;
  margin: auto 0;
}

/* sidebar contents */

/* leftside bar */

.important-links a,
.shortcuts-links a,
.about-link a {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;
  width: fit-content;
  color: var(--primary-color);
  font-weight: 500;
}

.important-links a:hover,
.about-link a:hover {
  color: var(--p-color);
}


.important-links img {
  width: 1.5625rem;
  margin-right: 0.9375rem;
}

.important-links {
  border-bottom: 0.0625rem solid var(--comment-color);
  margin-bottom: 1.8rem;
}

/* shortcut links */
.shortcuts-links {
  border-bottom: 0.0625rem solid var(--comment-color);
}

.shortcuts-links h3 {
  margin: 1rem 0;
  font-weight: 600;
  color: var(--input-color);
}


.shortcuts-links img {
  width: 2.2rem;
  margin-right: 0.9375rem;
  margin-left: 0.3125rem;
}

.shortcuts-links a {
  font-size: 0.875rem;
  color: var(--primary-color-2);
  font-weight: 500;
  padding: 0.3125rem 0.625rem;
}

.shortcuts-links a:hover {
  background: var(--body-color);
  border-left: 0.225rem solid var(--primary-color);
  transition: background 2s ease-out;
}

.current {
  /* border-bottom: 0.125rem solid var(--primary-color); */
  border-left: 0.225rem solid var(--primary-color);
  border-radius: 4px;
  padding-bottom: 0.3125rem;
}

/* about div */

.about-link {
  margin-top: 1.25rem;
}

/* footer */

.footer p {
  font-size: 0.75rem;
  font-weight: 500;
  color: #979494;
  margin-left: 0.5rem;
}

.footer-links {
  display: flex;
  margin-left: 0.48rem;
  margin-bottom: 0.3rem;

}

.footer-links img {
  width: 1.25rem;
  margin-right: 1.5rem;
  background: var(--body-color);
  border-radius: 50%;
}

.footer-links img:hover {
  padding: 0.625rem;
  background: var(--input-color);
  transition: 1s ease-out;
}

/* bottom */


#backtotop {
  padding: 0.3125rem;
  margin: 0.75rem 32%;
  width: 35%;
  background: #3b3b3b;
  color: wheat;
  border-radius: 0.25rem;
  cursor: alias;
  border: 0;
  outline: none;
  box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.125rem #484545;
}

#backtotop:hover {
  background: #4b4b4b;
  color: whitesmoke;
  transition: all 0.4s ease;
}

#backtotop:active {
  transition: all 0.4s ease;
  transform: scale(0.887);
}