{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Createprofile ?</title>
  <link rel="stylesheet" href="{%static 'css/check.css'  %}">
</head>

<body>
  <div class="img">
    <img src="{%static 'images/images/overlayimg2.png'%}">
  </div>
  <div class="confirm-overlay">
    <div class="card">
      <div class="heading">
        <h3 id="heading"></h3>
      </div>
      <div class="main-content">
        <h4>Thank you for signing up ????🎂🎂</h4>
        <h4>We appreciate you...</h4>
        <h4>Now we have to create your very own profile</h4>
      </div>
      <div class="buttons">
        <button id="createprofile"> create profile </button>
        <button id="gohome"> Go to homepage </button>
      </div>
      <div class="footer">
        All rights reserved &copy; CribSpace | 2023
      </div>
    </div>
  </div>
  <script src="{%static 'js/check.js' %}"></script>
</body>

</html>